:root {
    --primary: #000000;
    --secondary: #FFFFFF;
    --accent: #FF5E5B;
    --shadow: 8px 8px 0px var(--primary);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', monospace;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 150px;
    background-color: black;
    opacity: 80%;
    color: azure;
}
