{% extends 'base.html' %}

{% block head %}
<title>URL Shortener</title>
<link rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}">
{% endblock %}

{% block body %}
<div>
    <form action="{{url_for('format_url')}}" id="url-form" method="post">
        <h2>URL Shortener</h2>
        <label for="original-url"></label>
        <input type="text" id="original-url" name="original-url" placeholder="Enter Long URL here">
        <!--<label for="alias"></label>
        <input type="text" id="alias" name="alias" placeholder="Enter Custom Alias here"><br> -->
    </form>
    <button type="submit" form="url-form" value="Submit">Format</button>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                {% if message.startswith('Error:') %}
                    <h2>{{ message }}</h2>
                {% else %}
                    <h2>{{ message }}</h2>
                    <button type="button" name="qr-code">
                        <img src="https://img.icons8.com/officel/30/qr-code.png" 
                        alt="qr-code">
                    </button>
                    <button type="button" name="share">
                        <img src="https://img.icons8.com/ios-glyphs/30/share--v1.png" alt="share">Share
                    </button>
                    <button type="button" name="copy">
                        <img src="https://img.icons8.com/ios-glyphs/30/copy.png" alt="copy">Copy
                    </button>
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endwith %}
</div>
{% endblock %}

